html,
body,
#root {
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    background-image: linear-gradient(to top, #8A83BB 0%, #4BD2DE 100%);
    background-attachment: fixed;
    font-family: Ailerion;
    fill: currentColor;
}
@font-face {
    font-family: Ailerion;
    src: url("./assets/Aileron-Regular.otf") format("opentype")
}
.wrapper {
    height: 100vh;
    width: 100vw;
}
.page-wrapper { 
    width: 100vw;
}
.header {
    display: flex;
    flex-direction: column;
    padding: 2.3em 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: -38px;
    font-family: sans-serif;   
    flex-wrap: row nowrap; 
}

.nav {
    list-style-type: none;
}
.nav-item {
    display: inline;
    padding: 0 1.4em 0 0;
    text-decoration: none;
}
.nav-item a {
    text-decoration: none;
    color: white;
    fill: white;
}
.nav-item a:visited {
    text-decoration: none;
    color: #8A83BB;
}
.nav-item a:hover {
    color: #DAF1D8;
    fill: #8A83BB;
    transition: .3s;
}

.links {
    justify-content: flex-end;
    list-style-type: none;
    padding: 0 1.4em 0 0;
}
.hero-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.jumbo {
    display: flex;
    align-self: center;
}
.page {
    display: flex;
    flex-direction: column;
}
.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    transition: opacity .3s linear;
    opacity: 1;
}

.fade-exit {
    transition: opacity .2s linear;
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.jumbo { 
    border-right: .1em solid black;
    padding-right: 12px;
    font-size: 3em;
    width: 16.5em; 
    width: 21ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(25, end),
            blink-caret .5s step-end infinite alternate;
}

/* PROJECTS ======================================================================== */
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    flex: 0 1 20%;
    height: 60vh;
    border: 1px solid #DAF1D8;
    border-radius: 1%;
}

#card-1 {
    background: url('./assets/haiku-you.jpg');
    background-size: cover;
}

#card-1:hover {

}

#card-2 {
    background: url('./assets/fridge.jpg');
    background-size: cover;
}
#card-2:hover {
    
}
#card-3 {
    background: url('./assets/books.jpg');
    background-size: cover;
}
#card-3:hover {
    
}
#card-4 {
    background: url('./assets/score.jpg');
    background-size: cover;
}
#card-4:hover {
    
}

.modal-button {
    display:flex;
    border: 1px solid #FFFFFF;
    border-left: none;
    background-color: white;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:sans-serif;
    font-size: 1em;
    font-weight:300;
    color:#8A83BB;
    text-align:center;
    transition: all 0.2s;
}
.modal-button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
.modal {
    animation-name: modalFade;
    animation-duration: 1s;
    position: absolute;
    z-index: 1000;
    transition: .3s;
}


.modal-button-open {
    border: 1px solid #FFFFFF;
    background-color: white;
    border-radius:0.12em;
    margin: 1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:sans-serif;
    font-size: 1em;
    font-weight:300;
    color:#8A83BB;
    text-align:center;
    transition: all 0.2s;
}
.modal-button-open:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.modal-button-open a {
    color: #4BD2DE;
}

.backdrop {
    position: fixed;
    animation-name: backdropFade;
    animation-duration: 1s;
    width: 1000%;
    height: 1000%;
    z-index: 999;
    background: black;
    opacity: .7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes modalFade {
    from {transform: translateY(-50%);opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
}

@keyframes backdropFade {
    from {transform: translateY(-50%);opacity: 0;}
    to {transform: translateY(0);opacity: .7;}
}

/* RESUME =========================================================== */

#resume-pic {
    display: flex;
    align-self: center;
    width: 33.25%;
    height: 43.62%;
}

.resume-links {
    display: flex;
    justify-content: center;
}

.rlink {
    padding: 10px;
    margin-bottom: 7px;
    font-size: 1.3em;
}

.rlink, a {
    text-decoration: none;
    color: white;
    fill: white;
}
.rlink, a:visited {
    text-decoration: none;
    color: #4BD2DE;
}
.rlink, a:hover {
    color: #DAF1D8;
    fill: #8A83BB;
    transition: .3s;
}


/*ABOUT ========================================= */

#head-shot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-self: center;
}

#bio {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 33%;
}


@media screen and (min-width: 980px) {
    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        flex: 0 1 calc(25% - 1em);
    }
}

@media screen and (max-width: 979px) {
    .card {
        flex: 0 1 calc(50% - 1em)
    }
}

@media screen and (max-width: 500px) {
    .card {
        flex: 0 1 calc(80% - 1em)
    }
}