html,
body,
#root {
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    background-image: linear-gradient(to top, #8A83BB 0%, #4BD2DE 100%);
    font-family: Ailerion;
    fill: currentColor;
}
@font-face {
    font-family: Ailerion;
    src: url("./assets/Aileron-Regular.otf") format("opentype")
}
.wrapper {
    height: 100vh;
    width: 100vw;
}
.page-wrapper { 
    width: 100vw;
}
.header {
    display: flex;
    flex-direction: column;
    padding: 2.3em 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;   
    flex-wrap: row nowrap; 
}

.nav {
    list-style-type: none;
}
.nav-item {
    display: inline;
    padding: 0 1.4em 0 0;
    text-decoration: none;
}
.nav-item a {
    text-decoration: none;
    color: white;
}
.nav-item a:visited {
    text-decoration: none;
    color: #8A83BB;
}
.nav-item a:hover {
    color: #DAF1D8;
    transition: .3s;
}

.links {
    justify-content: flex-end;
    list-style-type: none;
    padding: 0 1.4em 0 0;
}
.hero-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.jumbo {
    display: flex;
    align-self: center;
}
.page {
    display: flex;
    flex-direction: column;
}
.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    transition: opacity .3s linear;
    opacity: 1;
}

.fade-exit {
    transition: opacity .2s linear;
    opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

/* PROJECTS ======================================================================== */
.card-wrapper {
    display: flex;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 20vw;
    border: 1px solid #DAF1D8;
    border-radius: 1%;
    margin: 10px;
}


.head {
    display: flex;
    height: 80%;
    background: url(./assets/haiku-you.jpg)
}

.title {
    display: flex;
    align-self: flex-end;
    padding: 5px;
    padding-left: 10px; 
    width: 100%;
    border-top: 1px solid #DAF1D8;
}
.modal-button {
    display:flex;
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:sans-serif;
    font-size: 1em;
    font-weight:300;
    color: white;
    text-align:center;
    transition: all 0.2s;
}
.modal-button:hover {
    color:#8A83BB;
    background-color: white;
}
.modal {
    animation-name: modalFade;
    animation-duration: 1s;
    position: absolute;
    z-index: 1000;
    transition: .3s;
}


.backdrop {
    position: fixed;
    animation-name: backdropFade;
    animation-duration: 1s;
    width: 1000%;
    height: 1000%;
    z-index: 999;
    background: black;
    opacity: .7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes modalFade {
    from {transform: translateY(-50%);opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
}

@keyframes backdropFade {
    from {transform: translateY(-50%);opacity: 0;}
    to {transform: translateY(0);opacity: .7;}
}